<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;">WELCOME!</h1>
    <div style="display:flex; flex-wrap: wrap; width:960px; justify-content: flex-start; column-gap: 30px; row-gap: 30px;">

        {% for div in range(0,num): %}
            <div style="height:200px; width: 200px; border: 3px solid black; background-color: {{color}} ; " ></div>
        {% endfor %}
    </div>
</body>
</html>