<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <title>Checkerboard</title>
</head>
<body>
    <h1>CHECKERBOARD!</h1>


    <!-- <div id=container>
        {% set row = 1 %}
        {% for num1 in range(0, ht_num) %}

            <div class=row>
            {% if row % 2 != 0}
                {% for num2 in range(0, wd_num) %}

                    {% if num2 %2 != 0}
                        <div class="block" style="background-color: {{ color2 }}"></div>
                    {% else %}
                        <div class="block" style="background-color: {{ color1 }}"></div>
                    {% endif %}
                
                {% endfor %}

                {% set row += 1 %}
            {% else %}
                {% for num2 in range(0, wd_num) %}

                    {% if num2 %2 != 0}
                        <div class="block" style="background-color: {{ color1 }}"></div>
                    {% else %}
                        <div class="block" style="background-color: {{ color2 }}"></div>
                    {% endif %}

                {% endfor %}
            {% endif %}
            </div>

        {% endfor %} -->
    </div>
</body>
</html>