/* header {
    display: flex;
    width: 240px;
    justify-content: center;
    align-self: center;
} */

h1 {
    text-align: right;
}

#container {
    display: flex;
    width: 480px;
}

.row{
    display: flex;
    width: 480px;
}

.block {
    display: flex;
    width: auto
}
